<?xml version="1.0" encoding="utf-8"?>
<manifest package="dev.iamspathan.androidtrack"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTrack">
        <activity android:name=".seventhsession.RecyclerViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sixthsession.FragmentDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fifthsession.CounterGame"></activity>
        <activity android:name=".fourthsession.NavActivity" />
        <activity android:name=".thirdsession.ListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".thirdsession.RelativeLayoutDemo" />
        <activity android:name=".secondsession.SuccessLoginActivity" />
        <activity android:name=".secondsession.ViewLayoutActivity" />
        <activity android:name=".firstsession.SecondActivity" />
        <activity android:name=".firstsession.MainActivity" />
    </application>

</manifest>